@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Sour+Gummy:ital,wght@0,700;1,700&family=Special+Gothic+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@400;700&family=Poppins&display=swap");

:root {
  --verde-escuro: #3e5139;
  --fundo-secao: #a2c7a7;
  --verde: #a7ecb2;
  --cinza: #9e9fa1;
  --preto: #000000;
  --ciano: #00626e;
  --azul-escuro: #002c6eab;
}

/* configurações gerais*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*imagem de fundo*/
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/Circuit\ Primary.svg");
  background-position: center;
  background-position: bottom;
  background-color: var(--verde-escuro);

  /*fonte padrão*/
  color: var(--preto);
  font-family: "Chakra Petch", sans-serif;
}

section {
  background: var(--fundo-secao);
  padding: min(1rem, 6%);
  margin: 20px auto;
  width: 90%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

h2 {
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: clamp(1rem, 6vw, 2.5rem);
}

h3 {
  padding: min(0.5rem, 7%);
  font-size: clamp(1rem, 7vw, 3rem);
  text-align: left;
}

p {
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 2rem);
  text-align: center;
}

a {
  text-decoration: none;
}

/* listas/header */

html {
  height: 500vh;
  background-color: var(--verde-escuro);
}

.container-listas {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  visibility: hidden;
}

header.rolagem {
  background-color: var(--verde-escuro);
  padding: 15px 4%;
  visibility: visible;
  z-index: auto;
  z-index: 100;
}

header i {
  font-size: 30px;
  color: #fff;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 40px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Sour Gummy", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.container-listas img {
  width: 4rem;
  cursor: pointer;
}

/*listas/header no celular*/

.menu-mobile {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

.menu-mobile:hover {
  cursor: pointer;
}

/* apresentação do site */

.apresentacao {
  background-image: url(img/folhas.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

.titulo {
  margin-top: 45px;

  font-size: clamp(2.5rem, 9vw, 5rem);
  text-align: center;
  color: var(--preto);
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo-mobile {
  display: none;
}

.subtitulo {
  text-align: center;
  color: var(--preto);
  font-family: "Cascadia Code", sans-serif;
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 400;
}

/* aba sobre o projeto*/

.conteudo-objetivo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.aba-conteudo-texto {
  text-align: left;
}

.informacoes {
  display: block;
  list-style-type: disc;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  padding-inline-start: 40px;
}

/* timeline */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container-timeline {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.caixa-texto {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.direita {
  left: 50%;
}

.img-direita {
  width: max(50px, 30vw);
  position: absolute;
  border-radius: 50%;
  top: -70px;
  right: -10px;
  z-index: 10;
}

.img-esquerda {
  width: max(100px, 30vw);
  position: absolute;
  border-radius: 50%;
  z-index: 10;
}

.img-direita1 {
  width: max(100px, 30vw);
  clip-path: ellipse(42% 25% at 50% 50%);
  position: absolute;
  border-radius: 50%;
  right: -10px;
  z-index: 10;
}

.icone {
  background-color: #fff;
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.direita img {
  left: -20px;
}

.caixa-texto p {
  font-size: 1rem;
}

/* linha da timeline*/

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
}

.caixa-texto h2 {
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 500;
  text-decoration: none;
}

.caixa-texto small {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 15px;
}

.fontes {
  text-align: center;
  margin: 1px;
}

.esquerda-flecha {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -15px;
}

.direita-flecha {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

/* entrevista com o professor carlos */

.texto-entrevista {
  background-color: var(--verde);
  border-radius: 10px;
  padding: 1rem;
  border-color: var(--ciano);
}

.texto-entrevista a,
#agradecimentos a {
  text-decoration: none;
  color: var(--preto);
  font-family: "Sour Gummy", sans-serif;
}

#entrevista h3 {
  font-size: clamp(0.8rem, 5vw, 2rem);
  text-align: left;
  font-weight: 400;
}


/*mapa */

.mapa {
width: 70vw;
 border-radius: 20px;
}


/* contato */
#contato {
  background: var(--fundo-secao);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
}

#contato h1,
h2 {
  font-size: 3rem;
  color: var(--preto);
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.2;
}

#contato h1::before {
  content: "📧";
  display: block;
}

.form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.form label {
  color: #fff;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: var(--cinza);
  box-shadow: 0 0 0 3px var(--ciano);
}

.botao-padrao {
  display: block;
  padding: 1rem;
  background: var(--ciano);
  color: #000000;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.botao-padrao:hover,
.botao-padrao:focus {
  background: #118e9e;
}

/*footer*/

footer {
  align-items: center;
}

.instagram img {
  width: 1rem;
}

.instagram {
  text-decoration: none;
  color: var(--preto);
  text-align: center;
}

/* altera partes do codigo dependendo do tamanho da tela */

@media screen and (max-width: 600px) {
  /* timeline mobile*/
  .timeline {
    margin: 60px auto;
  }

  .timeline::after {
    visibility: hidden;
  }

  .img-direita,
  .img-esquerda,
  .img-direita1 {
    position: relative;
    width: 100%;
  }

  .container-timeline {
    width: 100%;
    padding-left: 0px;
    padding-right: 15px;
  }

  .caixa-texto {
    font-size: 13px;
  }

  .caixa-texto small {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .direita {
    left: 0;
  }

  .icone {
    display: none;
  }

  .esquerda-flecha,
  .direita-flecha {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}
@media (max-width: 700px) {
  /* header mobile */
  .menu-mobile:focus ~ ul {
    height: 150px;
  }

  .menu-mobile {
    display: flex;
  }

  nav,
  nav ul {
    flex-direction: column;
  }

  .container-listas {
    display: block;
  }

  .botoesMenu {
    text-align: center;
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }

  .menu-mobile {
    margin: 10px;
  }

  li,
  ul {
    width: 100%;
  }
}
